# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# SQLite database
db.sqlite3

# Static files
staticfiles/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Logs
*.log
